.button-double-size {
	grid-row: span 2;
}

.button-container {
	border: 1px solid white;
	background: #888888;
	font-size: 30px;

	width: 70px;
	min-height: 60px;
	margin: 5px 2.5px;

	display: flex;
	justify-content: center;
	align-items: center;

	user-select: none;
	cursor: pointer;
}

.button-container:active {
	background: tomato;
}
